*{box-sizing: border-box;}
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
.container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.none{
    display: none !important;
}

/*header*/
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #556983;
    background-image: url("./img/header/park.jpg");
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    
}
.header-title{
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.header-subtitle{
	background-color: #3d722b;
	padding: 0px 0px 0px 10px;
    margin: 50px;
    font-weight: bold;
    font: size 48px;
    line-height: 250%;
    text-align: center ;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color:#ffffff;
}
.header-arrow{
    width: 48px;
    height: 48px; 
    position: absolute;
    bottom:30px;
    left:50%;
    transform: translate(-50%, 0);
}
/* Portfolio*/
.portfolio{
    padding-top: 80px;
    padding-bottom: 115px;
}
.portfolio-header{
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color:#000000;
}
.portfolio-cards-wrapper{
    display: flex; 
    flex-wrap: wrap;
     justify-content: space-between;
}
.card-link{
    color:#000000;
    display: block;
    text-decoration: none;
 }
.card-link:hover{
        color: blue;

}
.card{
    margin-bottom: 30px;
    padding: 20px;
    max-width: 540px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(82, 124, 168, 0.85);
    transition: transform 0.2s ease-in;
}
.card:hover{
transform: translateY(-10px);
}
.card:last-child, .card:nth-last-child(2){
    margin-bottom: 0;
}
.card-img{
    margin-bottom: 20px;
}
.card-title{
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}
.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

/*Footer*/

.footer{
    background:#1E4776 ;
    padding-top: 45px;
    padding-bottom: 130px;
    color:#FFFFFF
}
 
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-copyright{
    color: #7e9ec9;
    line-height: 1.3;
    max-width: 350px;
    flex-grow: 1;
}
.footer-copyright-name{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 15px;
}
.footer-copyright p {
margin: 0;
margin-bottom: 15px;
font-size: 16px;
font-weight: 600;
line-height: 1.3;
}
.footer-icons{
    max-width: 350px;
    flex-grow: 1;
}
.footer-icons p{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    
}
.footer-icons-row{
display: flex;
align-items:center;
}
.footer-icons-row>*+*{
margin-left: 30px;
}
.footer-contacts{
    max-width: 350px;
}
.footer-button{
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 44px;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    border: 3px solid #FFFFFF;
    border-radius: 50px;

   text-decoration: none;
   transition: 0.3s;
}
.footer-button:hover{
    background-color: #fff;
    color: #1E4776;

}
.footer-contacts p{
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color:#7e9ec9
}
/*Project*/
.project{
padding: 80px 0 120px 0;
text-align: center;

}
.project-header{
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
}
.project-img{
    margin-bottom: 70px;
}
.project-desscription{
    max-width: 730px;
    margin:0 auto 60px;
}
.project-desscription p{
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height:1.5;
}
.project-btn-back{
    display: inline-block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    
    border: 3px solid #275bec;
    border-radius: 50px;

    color: #275bec;
    font-weight: 700;
    font-size: 16px;
    line-height: 54px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all;
}
.project-btn-back:hover{
    background-color: #275bec;
    color: #fff;
}